In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv(r"C:\Users\use\Desktop\NCCU_STAT\Pattern Recognition\final\PR_online retail\W1_Data cleaning, aggregation, visualization\customer_features.csv")

In [4]:
df.head(3)

,Customer ID,Recency,Frequency,Monetary,AvgUnitPrice,UniqueItems,AvgQuantPerOrder
0,12346.0,326,1,77183.60,1.040000,1,74215.000000
1,12347.0,2,7,4310.00,2.644011,103,13.505495
2,12348.0,75,4,1797.24,5.764839,22,75.516129

In [6]:
features = ["Recency","Frequency","Monetary","AvgUnitPrice","UniqueItems","AvgQuantPerOrder"]
X = df[features]

In [7]:
scalar = StandardScaler()
Z = scalar.fit_transform(X)

In [9]:
print(Z)

[[ 2.33485829e+00 -4.24674873e-01  8.35963396e+00 -1.00145669e-01
  -7.08686632e-01  6.08915745e+01]
 [-9.05199314e-01  3.54080191e-01  2.51045911e-01 -5.32493831e-02
   4.86335570e-01 -2.82726959e-02]
 [-1.75186336e-01 -3.52973410e-02 -2.85469137e-02  3.79938999e-02
  -4.62652649e-01  2.26383862e-02]
 ...
 [-8.45198247e-01 -2.94882363e-01 -2.08712909e-01  2.14554111e-02
  -5.79811688e-01 -3.23138181e-02]
 [-8.85198958e-01  1.52221279e+00  4.57125455e-03 -8.33348464e-02
   2.36088020e+00 -3.78436605e-02]
 [-4.95192025e-01 -1.65089852e-01 -2.40916945e-02 -8.68846529e-02
  -2.91642034e-02 -2.07591408e-02]]

In [10]:
df_scaled = pd.DataFrame(Z, columns=[f"{col}_scaled" for col in features])

In [12]:
df_scaled = pd.concat([df[["Customer ID"]], df_scaled], axis=1)
df_scaled.head(3)

,Customer ID,Recency_scaled,Frequency_scaled,Monetary_scaled,AvgUnitPrice_scaled,UniqueItems_scaled,AvgQuantPerOrder_scaled
0,12346.0,2.334858,-0.424675,8.359634,-0.100146,-0.708687,60.891574
1,12347.0,-0.905199,0.354080,0.251046,-0.053249,0.486336,-0.028273
2,12348.0,-0.175186,-0.035297,-0.028547,0.037994,-0.462653,0.022638

In [16]:
df_scaled.describe()

,Customer ID,Recency_scaled,Frequency_scaled,Monetary_scaled,AvgUnitPrice_scaled,UniqueItems_scaled,AvgQuantPerOrder_scaled
count,4339.000000,4.339000e+03,4.339000e+03,4.339000e+03,4.339000e+03,4.339000e+03,4.339000e+03
mean,15299.936852,7.532834e-17,1.965087e-17,-3.602660e-17,-6.550290e-18,-2.374480e-17,4.912718e-18
std,1721.889758,1.000115e+00,1.000115e+00,1.000115e+00,1.000115e+00,1.000115e+00,1.000115e+00
min,12346.000000,-9.151995e-01,-4.246749e-01,-2.285244e-01,-1.305520e-01,-7.086866e-01,-3.853978e-02
25%,13812.500000,-7.451965e-01,-4.246749e-01,-1.943375e-01,-6.613635e-02,-5.329481e-01,-3.443475e-02
50%,15299.000000,-4.151906e-01,-2.948824e-01,-1.534789e-01,-4.525504e-02,-3.103459e-01,-3.115073e-02
75%,16778.500000,4.948256e-01,9.449517e-02,-4.363502e-02,-1.856282e-02,1.817221e-01,-2.731937e-02
max,18287.000000,2.814867e+00,2.670196e+01,3.094978e+01,5.931096e+01,2.021592e+01,6.089157e+01

In [17]:
df_scaled.to_csv("scaled_customer_features.csv", index=False)